
.box {
    background-color: black;
    margin: 2rem auto;
    width: 400px;
    height: 400px;
    border: thick solid red;
}

/* Bordes Redondeados */

.border-radius {
    /* border-radius */
    border-radius: 2rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    /* 2 valores: 
        top-left&bottom-right | top-right&bottom-left */
    border-radius: 2rem 4rem;
    /* 3 valores: 
        top-left | top-right&bottom-left | bottom-right */
    border-radius: 2rem 4rem 0;
    /* 4 valores:
        top-left | top-right | bottom-right | bottom-left */
    border-radius: 4rem 3rem 2rem 1rem;

    border-radius: 2rem;
}

.border-radius-2 {
    background-color: navy;
    /* Bordes Elipticos */

    /* Elipse: ejeX / ejeY  */
    border-radius: 1rem / 3rem;

    border-radius: 1rem 2rem 5rem / 3rem 4rem 2rem;

    /* 4 valores:
        top-leftX top-rightX bottom-rightX bottom-leftX 
        /
        top-leftY top-rightY bottom-rightY bottom-leftY
    */
    /* border-radius: 2rem 1rem 3rem 5rem / 4rem 3rem 4rem 2rem ; */
}

.border-radius-3 {
    border-radius: 50%;
}

.border-radius-4 {
    width: 400px;
    height: 200px;
    width: 200px;
    height: 400px;
    border-radius: 50%;
}

/* Outlines */

.outline {
    color: white;
    text-align: center;
    outline-width: 5px;
    outline-style: dashed;
    outline-color: chartreuse;
    outline: thick solid blue;
    /* border-width: 100px; */
    /* outline-width: 100px; */
    outline-offset: 3rem;
    outline-offset: -3rem;
}
