
/* 
Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿Comó los ve? Como si fueran cajas con las siguientes propiedades:
    1. El contenido (content): El contenido (texto) del elemento HTML, tomando en cuenta sus dimensiones (width & height).
    2. El borde (border): Lo que delimita cada uno de los elementos HTML.
    3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido).
    4. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)

Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
    1. Arriba (top)
    2. Derecha (right)
    3. Abajo (bottom)
    4. Izquierda (left)
*/

body {
    margin: 0;
}

h1 {
    /* width y height */
    width: 400px;
    height: 200px;
    /* border */
    border-color: green;
    border-top-color: red;
    border-style: solid;
    border-width: thick; /* thin 1px,medium 3px,thick 5px */
    /* propiedades de tipo shorthand */
    border: 2px dashed blue;
}

/* Margin & Padding */


.caja-uno,
.caja-dos {
    background-color: chocolate;
    border: medium solid orange;
    /* 
    Esto aplica a margin y padding
    1 valor = aplicar a los 4 lados
    2 valores = 
        primer valor (vertical top/bottom)
        segundo valor (horizontal left/right)
    3 valores =
        primer valor (top)
        segundo valor (left/right)
        tercer valor (bottom)
    4 valores = Piensa en las manecillas del reloj
        primer valor (top) 12
        segundo valor (right) 3
        tercer valor (bottom) 6
        cuarto valor (left) 9
    */
    padding: 20px;
    margin: 20px;
    padding: 20px 40px;
    margin: 40px 20px;
    padding: 0 40px 20px;
    margin: 50px 30px 0;
    padding: 0 40px 20px 50px;
    margin: 100px 50px 30px 0;
}

/*  Cajas de Línea VS Cajas de Bloque

    Cajas de Línea:
    - Ocupan el espacio necesario para mostrar su contenido.
    - No tienen dimensiones modificables (alto, ancho).
    - Permiten otros elementos a su lado.
    - Padding y margin solo empujan a elementos adyacentes en en horizontal, NUNCA EN VERTICAL.

    Cajas de Bloque:
    - Ocupan todo el ancho disponible, lo que genera saltos de línea.
    - Tienen dimensiones modificables (alto, ancho)
    - No permiten otros elementos a su lado (aunque especifique un ancho, sigue ocupando todo el espacio disponible a lo ancho, generando saltos de línea.
*/



.caja-linea,
.caja-bloque {
    background-color: darkcyan;
    color: white;
    width: 500px;
    height: 250px;
    border: medium solid black;
    padding: 16px;
}

.caja-bloque {
    margin: 32px;
    display: block;
}

.caja-linea {
    margin: 48px;
    display: inline;
}

/* 
Propiedad display 
- inline 
- block 
- inline-block 
- none 
- table 
- list-item 
- flex 
- grid
*/

.caja-none,
.caja-linea-bloque,
.caja-hidden {
    background-color: darkolivegreen;
    color: white;
    width: 600px;
    height: 300px;
    border: medium solid black;
}

.caja-linea-bloque {
    display: inline-block;
}

.caja-none {
    display: none;
}

.caja-hidden {
    visibility: hidden;
}

.over-flow {
    background-color: darkturquoise;
    width: 200px;
    height: 100px;
    padding: 7px;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
}

/* Tamaño de Caja - Box Sizing */

.box-sizing-content,
.box-sizing-border {
    background-color: deepskyblue;
    box-sizing: content-box;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: thick solid black;
    /* w 500 + 10 + 10 + 5 + 5 = 530 */
    /* h 250 + 10 + 10 + 5 + 5 = 280 */
}

.box-sizing-border {
    box-sizing: border-box;
}

.container-col-3 {
    background-color: burlywood;
    width: 600px;
    height: 300px;
    margin-top: 20px;
}

.container-col-3 > * {
    box-sizing: border-box;
    background-color: goldenrod;
    width: 200px;
    border: thin solid red;
    padding: 10px;
    float: left;
}

/* 
apply a natural box layout model to all elements, but allowing components to charge
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Propiedades Float y Clear */

.container-floats {
    background-color: cornflowerblue;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

/* Colapso de márgenes verticales */

.margin-collapse {
    background-color: skyblue;
}

.margin-collapse section {
    border: thin solid black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-collapse span {
    border: thin solid black;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
}

/* Centrado de Cajas */

.sitio-web {
    border: thin solid black;
    background-color:  thistle;
    width: 800px;
    height: 1000px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.sitio-web * {
    background-color: khaki;
}