

main {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

pre {
    overflow-x: auto;
    padding: 1rem;
    background-color: gainsboro;
}

/*! Contenedores Flexibles  */

/* [class^="box"] {
    margin: 3rem auto;
    background-color: orangered;
} */

/* 1px = 1/96 pulgada */
.box {
    width: 300px;
    height: 300px;
}

/* Caja flexible - las propiedades de ancho y alto se definen con 
   unidades relativas (%, rem) */
.box-flexible {
    width: 50%;
    height: 20vh;
}

/* Propiedades max-width, min-width, max-height y min-height */

.box-flexible-2 {

    /* MAX-WIDTH */
    max-width: 960px;

    /* MIN-WIDTH */
    min-width: 280px;

    /* MAX-HEIGHT */
    max-height: 480px;

    /* MIN-HEIGHT */
    min-height: 280px;
}

/* Tamaños fijos VS Tamaños máximos y mínimos */

.box-flexible-3 {
    max-width: 960px;
    min-width: 280px;

    max-height: 480px;
    min-height: 280px;

    width: 300px;
    height: 300px;
}

.box-flexible-4 {
    max-width: 960px;
    min-width: 280px;
    max-height: 480px;
    min-height: 280px;

    width: 50%;
    height: 20vh;
}


/*! Multimedia Flexible */

/* Imágenes Responsivas */
/* Video */

img, 
video,
iframe {
    max-width: 100%;
    height: auto;
}

.responsive-media {
    position: relative;
    max-width: 100%;
    height: 0;

    /* 
     Formato Widescreen - 16:9
     16 w ---> 100%
     9 h  ---> 56.25%
    */
    padding-bottom: 56.25%;
}

.responsive-media > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.aspect-ratio-16-9 {
    background-color: rebeccapurple;
    aspect-ratio: 16 / 9;
}

.aspect-ratio-1-1 {
    aspect-ratio: 1 / 1;
}




/* Media Queries versión 3 */

@media print {
    
    @page {
        size: A5 landscape;
    }

    body {
        font-size: 10pt;
        font-family: sans-serif;
        background-color: #000;
        color: greenyellow;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        scroll-behavior: smooth;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {

    html {
        scroll-behavior: auto;
        scroll-behavior: smooth;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #111;
        color: whitesmoke;
    }
}

@media screen and (prefers-color-scheme: light) {
    html {
        background-color: #fff;
        color: dark;
    }
}

@media screen and (prefers-color-scheme: no-preference) {
    html {
        background-color: #fff;
        color: dark;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: white;
        color: black;
    }
}

/* En Mobile First se usa min-width que significa lo minimo, del
   valor que des hacia arriba */
@media screen and (min-width: 480px) {
    html {
        background-color: lightpink;
    }
}

/* En Desktop First se usa max-width que significa lo maximo, del
   valor que des hacia abajo */
@media screen and (max-width: 1024px) {
    html {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 1200px) {
    html {
        background-color: white;
    }
}


/*! Feature Queries */

@supports (grid-template-columns: subgrid) {
    html {
        background-color: black;
        color: greenyellow;
    }
}

@supports not (grid-template-columns: subgrid) {
    html {
        background-color: darkolivegreen;
        color: white;
    }
}

@supports (display: grid) and (grid-template-columns: subgrid) {
    html {
        background-color: darkslateblue;
        color: lightseagreen;
    }
}

@supports (display: grid) or (grid-template-columns: subgrid) {
    html {
        background-color: white;
        color: black;
    }
}

/*! Container Queries */

.card {
    border: thin solid black;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    /* ACTIVANDO CONTAINER QUERIES */
    /* contain: layout inline-size style;(removido de la especificacion) */
    container-type: inline-size;
    container-name: mycard ;
}

.card-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 50%;
}

.card-content {
    padding: 1rem;
}

/* chrome://flags */
/* brave://flags */

@container mycard (min-width: 600px) {
    .card-container {
        display: flex;
    }

    .card-container > * {
        width: 50%;
        flex-basis: 50%;
    }
}

/*! Grid Fluida */

.fluid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fluid-item {
    border: thin solid gray;
    padding: 1rem;
}

/* Textos Fluidos  */

/* utopia.fyi/type/calculator */

:root {
    --step--2:clamp(0.91rem, 0.89rem + 0.10vw, 0.96rem);
    --step--1:clamp(1.09rem, 1.05rem + 0.21vw, 1.20rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.50rem);
    --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
    --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
    --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
}

.step--2 {
    font-size: var(--step--2);
}
.step--1 {
    font-size: var(--step--1);
}
.step-0 {
    font-size: var(--step-0);
}
.step-1 {
    font-size: var(--step-1);
}
.step-2 {
    font-size: var(--step-2);
}
.step-3 {
    font-size: var(--step-3);
}
.step-4 {
    font-size: var(--step-4);
}
.step-5 {
    font-size: var(--step-5);
}

/* Hack de Ethan Marcotte */

body {

    /* 
     14 = tamaño de letra más pequeño
     18 = tamaño de letra más grande
     300 = tamaño de viewport más pequeño
     1400 = tamaño de viewport más grande
    */

    /* font-size: calc(14px + (18 - 14) * ( (100vw - 300px) / (1400 - 300) )); */
    /* font-size: calc(15px + (20 - 15)*( (100vw - 320px) / (1600 - 320) )); */
    font-family: "Raleway";
}

/*! Contenedores Fluidos */

.box-fluid {
    background-color: orangered;
    width: clamp(400px, 60vw, 600px);
    height: clamp(200px, 30vh, 300px);
    margin: 0 auto;
}

/* Minimalista */

/* ********* Custom Properties ********* */
/* ********* Reset ********* */
/* ********* Components ********* */
/* ********* Utilities ********* */
/* ********* Site Styles ********* */